.share_dialog {
  display:flex;
  flex-direction: column;
}

.assigned_people {
  display: flex;
  align-items: center;
  margin: 5px;
}

.assigned_people_title {
  padding-right: 10px;
}

.assigned_people_textfield {

}

.room_type {
  margin: 5px;
}

.room_type_dropdown {
  width: auto;
}

.room_type_title {

}

.share {
  display: flex;
  align-items: center;
}

.share_title {
  padding-right: 10px;
}

.share_textfield {

}

.stations {
  display: flex;
  align-items: center;
  margin: 5px;
}

.stations_text {

}

.stations_title {
  padding-right: 10px;
}

.department_assigned {
  margin: 5px;
}

.department_using {
  margin: 5px;
}


