.wrapper {
  border: 1px solid black;
}
.person-info {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: flex-start;
}
.personinfo {
  display: flex;
  flex-direction: column;
	width: 100%;
  border: 1px solid black;
}
.table-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.table-title {
  display: flex;
  justify-content: center;
  background-color: #bf8f35;
  font-size: 20px;
  padding: 5px;
}
.td-link {
  cursor: pointer;
  color: #0000EE;
  text-decoration:underline;
}
.hidden {
  display:none;
}
.title {
  background: #000000;
  color: #ffffff;
}
.person-info-title {
  line-height: 10%;
  background: #fefefe;
}
.edit-button {
  position: absolute;
  right: 1px
}
.person-info-title p {
  color: #808080; /* gray */
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.person-info-tables {
  padding:10px;
}

.even-row {
  background-color: #ffffff;
}

.person-info-tables hr{
  margin-top:15px;
  margin-bottom:15px;
}

.person-info-error {

}

.display-rooms-on-floorplan-div {
  padding: 10px;
  padding-bottom: 5px;
  overflow:hidden;
}

.display-rooms-on-floorplan-button {
  float: right;
}

.add-new-room-div {
  padding: 10px;
  padding-top: 0px;
  overflow:hidden;
}
.add-new-room-button {
  float: right;
}
