.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.title {
  height: 18px;
  width: 100%;
  background: #000000;
  color: #ffffff;
}
.campus-map-svg {
  width: 100%;
  height: calc(100vh - 145px);
}
.loading-indicator{
  position: fixed;
  left:50%;
}
@media (min-width: 48em) {
  .loading-indicator{
    top:200px;
    left:62.5%;
  }
}
