.wrapper {
  border: 1px solid black;
  position: relative;
}
.loading-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.39); 
  z-index: 1;
}
.title {
  background: #000000;
  color: #ffffff;
}

.subtitle {
  line-height: 10%;
  background: #fefefe;
}

.subtitle p {
  color: #808080; /* gray */
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.content {
  background-color: #f4f4f4;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.export-smas-data-div, .export-room-data-div,.import-room-data-div,.import-room-data-dropzone-div  {
  margin: 10px;
  overflow:hidden;
}
.export-smas-data-button, .export-room-data-button,.import-room-data-button, .cancel-import-room-data-button {
  float: right;
}
.import-room-data-dropzone {
  background: white;
  margin-left:5%;
  margin-right:5%;
  width:90%;
  height: 200px;
  border: 2px dashed rgb(102, 102, 102);
  border-radius: 5px;
  align-content: center;
  position: relative;
}
.import-room-data-dropzone div{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color:grey;
  text-align: center;
}

.display-none {
  display:none;
}
