.wrapper {
  order: 3;
  background-color: #000000;
  color: #FFF;
  font-size: 10px;
  font-weight: 400;
  line-height: 0px;
  text-transform: uppercase;
}

.footer {

}

.wrapper a {
  display: block;
}

.link {
  margin: 5px 0;
  cursor: pointer;
  color: #FFF;
}

.content {
  min-width: 300px;
  text-align: right;
  padding-right: 10px;
}
